baseURL = 'https://schawek2.github.io'
languageCode = 'en-us'
title = 'Kady Schawe - Portfolio'
theme = 'ananke'

[params]
  author = "Kady Schawe"
  description = "Student developer"
  github = "https://github.com/schawek2"
  email = "schawek2@mymail.nku.edu"

[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "Projects"
    url = "/projects/"
    weight = 2
  [[menu.main]]
    name = "Blog"
    url = "/posts/"
    weight = 3
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 4

[minify]
  disableCSS = false
  disableHTML = false
  disableJS = false
  disableJSON = false
  disableSVG = false
  disableXML = false

[imaging]
  quality = 85
  resampleFilter = "lanczos"
